#p1-c1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#16302B ;
    padding:24px
}
#p1-c2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:#2D7DD2;
    padding: 24px;
}
#p1-c3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:#9BC4BC ;
    padding:24px;
}
#p1-c4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:#D3ffe9;
    padding:24px ;
}
#p1-c5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:#8DDBE0;
    padding: 24px;
}
#p1-c6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:#16697A;
    padding:24px;
}
#p1-c7{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:#489FB5;
    padding:24px;
}   
#p1-c8{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif;
    text-align: center;
    background-color:#82C0CC;
    padding:24px;
}
#p1-c9{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:#EDE7E3;
    padding:24px;
}

body {
    margin: 0px;
    font-family: sans-serif;
}