* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;}
    
    #sidebar-content {
    background-color: lightsalmon;width: 250px;}
    
    #main-content {
    background-color: salmon;flex: 1;}