* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#home-page {
    background-image: url("../images/night\ time\ resturant\ 1\ .jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 100px;
}
    
    
#home-page h2 {
    font-size: 72px;
    position: absolute;
    right: 20%;
    bottom: 50%;
    color: white;
}

#home-page h1 {
    color: white;
}
    
#home-page a {
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 41%;
}