* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: #a57342;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #a57342,
        rgb(192, 158, 99)
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo img {
width: 250px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        rgb(192, 158, 99),
        #a57342
    );
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 13px;
}

#hero {
    background-image: url("../images/24\ picture.avif");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}

#home-page {
    position: absolute;
    left: 15%;
    padding: 15px;
}
        
#home-page h2 {
    font-size: 72px;
    color: white;
}

#home-page h1 {
    color: white;
    right: 50%;
    left: 60%;
    bottom: 90px;
}

.button a {
    font-size: 14px;
    display: inline-block;
    background-color: #a57342;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-right: 10px;
}

#button-container {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 30%;
}

#cards-container {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
}

.card-container {
    position: relative;
}

.card-container {
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;
    left: 0px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
    opacity 0.5s,
    visibility 0.5s,
    transform 0.5s;
    text-align: center;
}

.card-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#footer {
    background: linear-gradient(
        to bottom,
        #a57342,
        rgb(192, 158, 99)
    );
    color: white;
    padding: 12px;
}
    
    #footer a {
    text-decoration: none;
    color: white;
}
    
    #footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#menu-card {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: center;
}
.card-1 {
   display: inline-block;
   width: 450px;
   position: relative;
}

.card-2 {
    display: inline-block;
    width: 450px;
 }

 .card-3 {
    display: inline-block;
    width: 450px;
 }

 .card-4 {
    display: inline-block;
    width: 450px;
 }

 .card-5 {
    display: inline-block;
    width: 450px;
 }

 .card-5 {
    display: inline-block;
    width: 450px;
 }

 .card-6 {
    display: inline-block;
    width: 450px;
 }

 .card-7 {
    display: inline-block;
    width: 450px;
 }

 .card-8 {
    display: inline-block;
    width: 450px;
 }

 .card-9 {
    display: inline-block;
    width: 450px;
 }


/* Mobile Breakpoint View, Adjust size to see red background in html site view */
@media screen and (max-width: 450px) {
    /* body {
        background-color: firebrick;
    } */
    #navbar {
        flex-direction: column;
        align-items: center;
    }

}

/* Tablet Breakpoint View, adjust size in html preview */
@media screen and (max-width: 740px) and (min-width: 450px) {
    /* body {
        background-color: skyblue;
    } */
}